@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MA Bold";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: "Ma Regular";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf");
}
@font-face {
  font-family: "MA Light";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf");
}
@font-face {
  font-family: "MA ExtraBold";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf");
}
@font-face {
  font-family: "MA SemiBold";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto ExtraBold";
  src: url("../fonts/Roboto/Roboto-ExtraBold.ttf");
}
@font-face {
  font-family: "Roboto SemiBold";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

:root{
  --gradient-bg : radial-gradient(82.46% 3526.28% at 5.17% 86.69%, #171921 0%, #171921 57.29%, #222222 100%);
}


/* default styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-starts {
  margin-top: 150px;
}

.inner-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1500px) {
  .inner-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}



.section-title-underline{
  position: relative;
  width: fit-content;
  margin: 0 auto;
  
}
.section-title-underline::after{
  content: "";
  background: linear-gradient(to right, #BB2557, #161516);
  height: 5px;
  display: block;
  border-radius: 50%;
  margin-top: 10px;
}

.section-title-underline-left{
  position: relative;
}
.section-title-underline-left::after{
  content: "";
  background: linear-gradient(to right, #BB2557, #161516);
  height: 5px;
  display: block;
  border-radius: 50%;
  margin-top: 10px;
}


/* navigation styles */

#nav-container{
  z-index: 9999;
}


/* Banner Styles */

.banner-container{
  width: 100%;
  height: 800px;
}

/* Featured Section Styles  */

#featuredIn{
  background: var(--gradient-bg);
}

.feature-slider-dots .dot{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;

}

/* body-banner styles */

#video-banner{
  width: 100%;
  height: 600px;
  position: relative;
}

#video-banner video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-content-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Phenomenon Section Styles */


/* testimonial Styles */

.testimonial.active {
  width: 20rem/* 320px */;
}

.testimonial.active .stars,
.testimonial.active .t-header,
.testimonial.active .stars,
.testimonial.active .t-content
 {
  display: flex;
}

.testimonial.active .t-verticle-header{
  display: none;
}

.testimonial{
  width: 80px;
  position: relative;
}

.testimonial .stars,
.testimonial .t-header,
.testimonial .stars,
.testimonial .t-content
 {
  display: none;
}


.t-verticle-header {
  position: relative;
}

.t-verticle-header h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 24px;
  width: -moz-max-content;
  width: max-content;
  transform: rotate(90deg);
  top: 30px;
  position: absolute;
  left: -20px;
}


/* our stars styles */

#our-stars{
  background: var(--gradient-bg);
}

.our-stars-image-wrapper{
  min-width: 160px;
  height: 400px;
  max-width: 160px;
}

.our-stars-image-wrapper.active{
  min-width: 280px;
  height: 400px;
  max-width: 280px;
}

.our-stars-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
