@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MA Bold";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: "Ma Regular";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf");
}
@font-face {
  font-family: "MA Light";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf");
}
@font-face {
  font-family: "MA ExtraBold";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf");
}
@font-face {
  font-family: "MA SemiBold";
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto ExtraBold";
  src: url("../fonts/Roboto/Roboto-ExtraBold.ttf");
}
@font-face {
  font-family: "Roboto SemiBold";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

:root {
  --gradient-bg: radial-gradient(
    82.46% 3526.28% at 5.17% 86.69%,
    #171921 0%,
    #171921 57.29%,
    #222222 100%
  );
}

/* default styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-starts {
  margin-top: 150px;
}

.inner-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1500px) {
  .inner-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.section-title-underline {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.section-title-underline::after {
  content: "";
  background: linear-gradient(to right, #bb2557, #161516);
  height: 5px;
  display: block;
  border-radius: 50%;
  margin-top: 10px;
}

.section-title-underline-left {
  position: relative;
}
.section-title-underline-left::after {
  content: "";
  background: linear-gradient(to right, #bb2557, #161516);
  height: 5px;
  display: block;
  border-radius: 50%;
  margin-top: 10px;
}

/* navigation styles */

#nav-container {
  z-index: 9999;
}

.btn {
  position: relative;
  width: 60px;
  height: 60px;
  top: 0;
  transition-duration: 0.5s;
}

.btn .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 30px;
  background-color: #ffffff;
}

.btn.open .icon {
  transition: 0.5s;
}

.btn .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  content: "";
  top: -10px;
}

.btn .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  content: "";
  top: 10px;
}

.btn.open .icon:after {
  transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 3px);
}

.btn.open .icon:before {
  transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -3px);
}

.mobile-menu-container {
  position: fixed;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #e12c68, #e12c68c4);
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  z-index: 9998;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.mobile-menu-container.open {
  transform: translateX(0%);
  background: linear-gradient(to right, #000000, #000000c4);
  transition: all 0.5s ease-in-out;
}

/* Banner Styles */

.banner-container {
  width: 100%;
  height: 800px;
}

/* Featured Section Styles  */

#featuredIn {
  background: var(--gradient-bg);
}

.feature-slider-dots .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}

#featuredIn {
  background-color: #000000;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.featured-in-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.featured-ins-container {
  display: flex;
  transition: transform 0.5s ease;
}

.featuredIn-slide {
  display: flex;
  flex: 1;
}

.featured-in {
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  width: 400px;
}

@media (max-width: 420px) {
  .featured-in {
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
  }
}

.featured-in-slider .featured-in-dots-container {
  display: flex;
}

.featured-in-slider .featured-in-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #555;
  cursor: pointer;
}

.featured-in-slider .featured-in-dot.active {
  background-color: #e12c68;
}

/* body-banner styles */

#video-banner {
  width: 100%;
  height: 100%;
  position: relative;
}

#video-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Phenomenon Section Styles */

#phenomenon .grid-boxes {
  width: 100%;
}

#phenomenon .grid-box {
  height: 100%;
}

/* testimonial Styles */

.testimonial-container {
  overflow-x: scroll;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
  padding-bottom: 40px;
}

.testimonial-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Set the background color of the scrollbar track */
.testimonial-container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Set the color of the scrollbar thumb */
.testimonial-container::-webkit-scrollbar-thumb {
  background-color: #88888818;
  border-radius: 5px;
}

/* Set the color of the scrollbar thumb when hovered */
.testimonial-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.t-header-wrapper {
  min-height: 48px;
}

.t-profileImage {
  min-width: 3rem;
  min-height: 3rem;
}

.testimonial.active {
  min-width: 23rem;
  max-width: 23rem;
  transition: all 0.3s ease-in-out;
  min-height: 300px;
  max-height: 300px;
}

@media (max-width: 640px) {
  .testimonial.active {
    min-width: 15rem;
    max-width: 15rem;
    transition: all 0.3s ease-in-out;
    min-height: 300px;
    max-height: 300px;
  }
}

.testimonial.active .stars,
.testimonial.active .t-header,
.testimonial.active .stars,
.testimonial.active .t-content {
  display: flex;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.testimonial.active .t-verticle-header {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.testimonial {
  flex: 1 1 auto;
  max-width: 80px;
  min-width: 80px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-height: 300px;
  max-height: 300px;
}

.testimonial .stars,
.testimonial .t-header,
.testimonial .stars,
.testimonial .t-content {
  opacity: 0;
}

.t-verticle-header {
  position: relative;
}

.t-verticle-header h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 24px;
  width: -moz-max-content;
  width: max-content;
  transform: rotate(90deg);
  top: 30px;
  position: absolute;
  left: -20px;
}

.t-content {
  min-height: 8rem;
}

/* our stars styles */

#our-stars {
  background: var(--gradient-bg);
}

.our-stars-image-wrapper {
  min-width: 160px;
  height: 400px;
  max-width: 160px;
  transition: all 0.5s ease-in-out;
}

.our-stars-image-wrapper.active {
  min-width: 280px;
  height: 400px;
  max-width: 280px;
  transition: all 0.5s ease-in-out;
}

.our-stars-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media (max-width: 640px) {
  .our-stars-image-wrapper {
    min-width: 160px;
    height: 250px;
    max-width: 160px;
  }
  .our-stars-image-wrapper.active {
    min-width: 280px;
    height: 250px;
    max-width: 280px;
  }
}

.our-stars-content {
  display: none;
}

.our-stars-content.active {
  display: block;
}
@layer components {
  .contentHeader {
    @apply text-[24px] font-bold 
  }
}
